# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

cliff!=2.9.0,>=2.11.0 # Apache-2.0
oslo.config>=5.2.0 # Apache-2.0
oslo.i18n>=3.20.0 # Apache-2.0
oslo.log>=3.37.0 # Apache-2.0
pbr>=2.0 # Apache-2.0
futurist>=1.9.0 # Apache-2.0
pyserial>=3.4 # BSD
PyPubSub>=4.0 # BSD
SQLAlchemy>=1.2.5 # MIT
SQLAlchemy-Utils>=0.34.2 # BSD
readerwriterlock>=1.0.4 # MIT